.main-content {
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    color: #333;
  }
  
  ul {
    list-style-type: square;
    margin-left: 20px;
    color: #555;
  }
  
  li {
    margin-bottom: 5px;
  }
  
img{
    height: 300px;
    width : 300px;
}

.img-container{
    display: flex;
    justify-content: space-between;
}


.middle {
  transition: .5s ease;
  opacity: 0;
  position : absolute;
  left: 30%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.top{
  position : absolute;
  top : -5px;
  right : 105%;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: black;
  width : 50px;
  color: white;
  font-size: 10px;
  padding: 16px 32px;
}


.container {
  position: relative;
  /* width: 50%; */
}